.footer {
    background: #111;
    padding: 15px 23px;
    color: #fff;
    text-align: center;
    font-size: 16px;
    -webkit-box-shadow: 0px -20px 17px 1px #111;
    box-shadow: 0px -20px 17px 1px #111;
}
.footer__text {
    color:white ;
}
.footer__text span{
    color:rgb(255, 72, 0) ;
}